#__prototype-nav.c-prototype-nav
    .c-prototype-nav-inner
        h4 Prototype navigation
        p Press Ctrl + M to toggle this navigation.
        h4 Base pages
        ul.c-bordered-list
            each page in pages.base
                li
                    a(href=page.url)
                        span= page.name
                        if page.state
                            span (#{page.state})
        each module, key in pages.modules
            h4= key
            ul.c-bordered-list
                each page in module
                    li
                        a(href=page.url)
                            span= page.name
                            if page.state
                                span (#{page.state})