include ../mixins/render-page-tree

//- `basePage` is set in the `renderPageTree()` mixin, and then used in the navigation
- var basePage
- var navClasses = [ config.ui && config.ui.dark ? 'br-prototype-nav--dark' : null , basePage && basePage.states ? 'br-prototype-nav--has-states' : null]

#__prototype-nav.br-prototype-nav(class=navClasses.join(" "))
    .br-prototype-nav-inner
        h3.br-prototype-nav-main-heading Prototype navigation
        p.br-prototype-nav-text Press Ctrl + M to toggle this navigation.
        +renderPageTree

    if basePage && basePage.states
        .br-prototype-page-states
            h3.br-prototype-nav-main-heading Page states
            ul.br-bordered-list
                - var basePagePath = basePage.path.replace('.pug', '');
                - var isBasePageActive = pathname === basePagePath;

                li: a(href=basePage.href, class=isBasePageActive ? 'br-bordered-list__link--active' : null)
                    = basePage.name

                each state in basePage.states
                    - var statePagePath = state.path.replace('.pug', '');
                    - var isStatePageActive = pathname === statePagePath;
                    li: a(href=state.href, class=isStatePageActive ? 'br-bordered-list__link--active' : null)
                        = state.name
