.br-styleguide-navigation-holder
    each docsCategoryName in config.styleguide.categoryOrder

        if docs.byCategory[docsCategoryName]
            h4.br-bordered-list-title= docsCategoryName
            ul.br-bordered-list
                each doc in docs.byCategory[docsCategoryName]
                    li
                        a(href=`/styleguide/docs/${doc.attributes.filename}.html`, class=`${ "styleguide/docs/" + doc.attributes.filename == pathname ? "br-bordered-list__link--active" : "" }`)
                            | #{doc.attributes.title}

        if docsCategoryName === 'Components' && Object.keys(components.byCategory).length > 0
            h4.br-bordered-list-title Components
            each category, categoryName in components.byCategory
                if Object.keys(components.byCategory).length > 1
                    h4.br-bordered-list-title= categoryName
                ul.br-bordered-list
                    each group in category
                        - var groupName = group.docs ? group.docs.attributes.title || group.group.id : group.group.id
                        li
                            a(href=`/styleguide/${group.group.id}.html` class=`${ "styleguide/" + group.group.id == pathname ? "br-bordered-list__link--active" : "" }`)
                                |  #{groupName}
