.br-styleguide-navigation-holder
    if docs.length > 0
        h4.br-bordered-list-title Documentation
        ul.br-bordered-list
            each doc in docs
                li: a(href="/styleguide/docs/#{doc.attributes.filename}.html")= doc.attributes.title

    h4.br-bordered-list-title Component styleguide
    ul.br-bordered-list
        li: a(href="/styleguide.html#colors") Color index
        li: a(href="/styleguide.html#icons") Icon index
    each category, categoryName in patterns.byCategory
        if Object.keys(patterns.byCategory).length > 1
            h4.br-bordered-list-title= categoryName
        each group in category
            - var groupName = group.docs ? group.docs.attributes.title || group.group.id : group.group.id
            ul.br-bordered-list
                li
                    a(href="/styleguide/#{group.group.id}.html")= groupName
                    if config.styleguide.showIndividualComponentsInNav
                        ul
                            each pattern in group.patterns
                                - var patternName = pattern.docs ? pattern.docs.attributes.title || pattern.name : pattern.name;
                                li: a(href="/styleguide/#{group.group.id}.html##{pattern.docs.attributes.title || pattern.name}")= patternName
