extends /templates/_layouts/master

block append pageVariables
    - var htmlClass = 'br-styleguide'
    - var styleguideResetLinkStylingClass = "br-reset-link-styling"

block body

    .br-styleguide-container
        .br-styleguide-navigation-holder(class=styleguideGridClass)
            div(class=styleguideGridInnerClass)
                div(class=styleguideGridCellClass+' '+styleguideLayoutTwoColumnsLeftClass)
                    h1(class=styleguideBrandClass)
                        a(href="/styleguide" class=styleguideResetLinkStylingClass) #{projectTitle}

                    block nav
                        include ../includes/styleguide-nav

        .br-styleguide-content(class=styleguideGridCellClass+' '+styleguideLayoutTwoColumnsRightClass)

            block content
                block homeContent
                    // Place style guide introduction here