mixin icon(name, extraClasses)
    - var svgIconClassPrefix = config.icons && config.icons.svgIconClassPrefix || 'svg-icon'
    - var isMulticolor = name.indexOf('multicolor/') > -1
    - var additionalClasses = `${extraClasses || ''} ${isMulticolor ? 'o-svg-icon-multicolor' : ''}`;

    div(class=`${svgIconClassPrefix} ${svgIconClassPrefix}-${name.replace('/', '-').replace('/', '-')} ${additionalClasses}`)!= renderSvgIcon(name)
