- const baseClass = config.icons && config.icons.baseClass || 'svg-icon'

mixin icon(name, extraClasses)
    if extraClasses
        div(class=`${baseClass} ${baseClass}-${name.replace('/', '-')} ${extraClasses}`)!= renderSvgIcon(name)
    else
        div(class=`${baseClass} ${baseClass}-${name.replace('/', '-')}`)!= renderSvgIcon(name)
