mixin sample(component, isLayoutClass, hideCodeSamples)
    .br-sample(id='component-' + component.name)
        .br-sample-header.br-sample-clearfix
            if component.docs
                h3.br-sample-heading= component.docs.attributes.title || component.name
            else
                h3.br-sample-heading= component.name
            a.br-sample-header-link(href="#component-"+component.name) #
        if component.docs
            .br-sample-documentation!= component.docs.body
        .br-sample-content!= render(component.filename, 'html')
        if !hideCodeSamples
            .br-sample-footer
                if config.styleguide.snippetLanguage === 'html'
                    span.br-sample-btn.br-sample-show-code-btn Show HTML code
                if config.styleguide.snippetLanguage === 'pug'
                    span.br-sample-btn.br-sample-show-code-btn Show Pug code
                .br-sample-code
                    button.br-sample-btn.br-sample-copy-code-btn Copy to clipboard
                    if config.styleguide.snippetLanguage === 'html'
                        pre.br-sample-markup= render(component.filename, 'html')
                    if config.styleguide.snippetLanguage === 'pug'
                        pre.br-sample-markup= render(component.filename, 'pug')
