mixin sample(component)
    .br-sample(id='component-' + component.name)
        .br-sample-header.br-sample-clearfix
            if component.docs
                h3.br-sample-heading(class=styleguideSampleHeadingClass)= component.docs.attributes.title || component.name
                if component.docs.attributes.source
                    p.br-sample-category=component.docs.attributes.source
            else
                h3.br-sample-heading(class=styleguideSampleHeadingClass)= component.name
            a.br-sample-header-link(href="#component-"+component.name) #
        if component.docs
            .br-sample-documentation(class=styleguideRichContentClass)!= component.docs.body
        .br-sample-content!= renderCode(component.filename, 'html')
        .br-sample-footer
            button.br-sample-show-code-btn.br-sample-show-code-btn-html(class=styleguideButtonClass) Show HTML code
            button.br-sample-show-code-btn.br-sample-show-code-btn-pug(class=styleguideButtonClass) Show Pug code

            .br-sample-code.br-sample-code-html
                button.br-sample-copy-code-btn(class=styleguideButtonClass) Copy to clipboard
                pre.br-sample-markup.br-sample-markup-html= renderCode(component.filename, 'html')
            .br-sample-code.br-sample-code-pug
                button.br-sample-copy-code-btn(class=styleguideButtonClass) Copy to clipboard
                pre.br-sample-markup.br-sample-markup-pug= renderCode(component.filename, 'pug')
