mixin sample(pattern, isLayoutClass, hideCodeSamples)
    .br-sample(id='component-' + pattern.name)
        .br-sample-header.br-sample-clearfix
            if pattern.docs
                h3.br-sample-heading= pattern.docs.attributes.title || pattern.name
            else
                h3.br-sample-heading= pattern.name
            a.br-sample-header-link(href="#component-#{pattern.name}") #
        if pattern.docs
            .br-sample-documentation!= pattern.docs.body
        .br-sample-content!= render(pattern.filename, 'html')
        if !hideCodeSamples
            .br-sample-footer
                if config.styleguide.snippetLanguage === 'html'
                    span.br-sample-btn.br-sample-show-code-btn Show HTML code
                if config.styleguide.snippetLanguage === 'jade'
                    span.br-sample-btn.br-sample-show-code-btn Show Jade code
                .br-sample-code
                    button.br-sample-btn.br-sample-copy-code-btn Copy to clipboard
                    if config.styleguide.snippetLanguage === 'html'
                        pre.br-sample-markup= render(pattern.filename, 'html')
                    if config.styleguide.snippetLanguage === 'jade'
                        pre.br-sample-markup= render(pattern.filename, 'jade')
