extends /templates/_layouts/master

block body

    //- Load the array

    h1 JSON Data

    p JSON data is loaded by placing the JSON file in the content/data folder.

    pre= JSON.stringify(contentData.exampleJson, null, 2)

    h1 Loop examples

    h2 Looping an array
    ul
        each person in contentData.exampleArray
            li
                span= person.id
                span Hello, my name is #{person.firstName} #{person.lastName}!

    h2 Looping an object

    each type, typeName in contentData.exampleObject
        ul
            li= typeName
            ul
                each product in type
                    li= product
