extends layouts/master

mixin sample(pattern, isLayoutClass, hideCodeSamples)
    .br-sample(id=slugify(pattern.filename))
        .br-sample-header.br-sample-clearfix
            h3.br-sample-heading= pattern.name
            a.c-sample-header-link(href="##{slugify(pattern.filename)}") #
        .br-sample-content(class=pattern.extraClasses)
            != render(pattern.filename, 'html')
        if !hideCodeSamples
            .br-sample-footer
                if config.snippetLanguage === 'html'
                    span.br-sample-btn.br-sample-show-code-btn Show HTML code
                if config.snippetLanguage === 'jade'
                    span.br-sample-btn.br-sample-show-code-btn Show Jade code
                .br-sample-code
                    button.br-sample-btn.br-sample-copy-code-btn Copy to clipboard
                    if config.snippetLanguage === 'html'
                        pre.br-sample-markup= render(pattern.filename, 'html')
                    if config.snippetLanguage === 'jade'
                        pre.br-sample-markup= render(pattern.filename, 'jade')

block append pagevariables
    - var bodyclass = 'br-styleguide br-type'

block body

    .br-styleguide-container
        .br-styleguide-navigation-holder
            .br-styleguide-sidebar
                h4 Indexes
                ul.br-bordered-list-links
                    li:  a(href="#colors") Colors
                    li:  a(href="#icons") Icons
                h4 Patterns
                ul.br-bordered-list-links
                    each pattern in patterns.base
                        li: a(href='#' + slugify(pattern.filename))= pattern.name
                    each category in patterns.categories
                        li
                          span.br-bordered-list-label #{category.name}
                          ul
                            each pattern in category.patterns
                                li: a(href='#' + slugify(pattern.filename))= pattern.name

        .br-styleguide-content

            .br-content
                h1 #{projecttitle} - Style Guide
                p This page contains common elements that occur in #{projecttitle}.

            .br-sample(id="colors")
                .br-sample-header.br-sample-clearfix
                    h3.br-sample-heading
                        | Colors
                    a.br-sample-header-link(href="#colors") #
                .br-sample-content
                    each category in colorCategories
                        h4= category.name
                        ul.br-color-swatch-list
                            each color in category.colors
                                li.br-color-swatch-item
                                    .br-color-swatch-preview(style='background-color: #{color.value}')
                                    .br-color-swatch-data
                                        .swatch-name= color.name
                                        .swatch-value= color.value

            each pattern in patterns.base
                +sample(pattern)

            each category in patterns.categories
                h2= category.name
                each pattern in category.patterns
                    +sample(pattern)