extends layouts/master

mixin sample(pattern, isLayoutClass, hideCodeSamples)
    .b-sample(id=slugify(pattern.filename))
        .b-sample-header.b-sample-clearfix
            h3.b-sample-heading= pattern.name
            a.b-sample-header-link(href="##{pattern.filename}") #
        .b-sample-content(class=pattern.extraClasses)
            != render(pattern.filename, 'html')
        if !hideCodeSamples
            .b-sample-footer
                if config.snippetLanguage === 'html'
                    span.b-sample-btn.b-sample-show-code-btn Show HTML code
                if config.snippetLanguage === 'jade'
                    span.b-sample-btn.b-sample-show-code-btn Show Jade code
                .b-sample-code
                    button.b-sample-btn.b-sample-copy-code-btn Copy to clipboard
                    if config.snippetLanguage === 'html'
                        pre.b-sample-markup= render(pattern.filename, 'html')
                    if config.snippetLanguage === 'jade'
                        pre.b-sample-markup= render(pattern.filename, 'jade')

block append pagevariables
    - var bodyclass = 'b-styleguide b-type'

block body

    .b-styleguide-container
        .b-styleguide-navigation-holder
            .b-styleguide-sidebar
                h4 Indexes
                ul.b-bordered-list-links
                    li:  a(href="#colors") Colors
                    li:  a(href="#icons") Icons
                h4 Patterns
                ul.b-bordered-list-links
                    each pattern in patterns.base
                        li: a(href='#' + slugify(pattern.filename))= pattern.name
                    each category in patterns.categories
                        li
                          span.b-bordered-list-label #{category.name}
                          ul
                            each pattern in category.patterns
                                li: a(href='#' + slugify(pattern.filename))= pattern.name

        .b-styleguide-content

            .b-content
                h1 #{projecttitle} - Style Guide
                p This page contains common elements that occur in #{projecttitle}.

            .b-sample(id="colors")
                .b-sample-header.b-sample-clearfix
                    h3.b-sample-heading
                        | Colors
                    a.b-sample-header-link(href="#colors") #
                .b-sample-content
                    each category in colorCategories
                        h4= category.name
                        ul.b-color-swatch-list
                            each color in category.colors
                                li.b-color-swatch-item
                                    .b-color-swatch-preview(style='background-color: #{color.value}')
                                    .b-color-swatch-data
                                        .swatch-name= color.name
                                        .swatch-value= color.value

            each pattern in patterns.base
                +sample(pattern)

            each category in patterns.categories
                h2= category.name
                each pattern in category.patterns
                    +sample(pattern)
