extends /templates/_layouts/master

block append headerStyles
    style.
        .br-data-example {
            max-width: 500px;
            margin: 40px auto;
        }

block body

    .br-data-example
        h1 JSON Data

        p JSON data can be loaded by placing <code>js</code> or <code>json</code> files in the <code>content/data</code> folder.

        pre= JSON.stringify(contentData.exampleJson, null, 2)

        h1 Loop examples

        h2 Looping an array
        ul
            each person in contentData.exampleArray
                li
                    span= person.id
                    span Hello, my name is #{person.firstName} #{person.lastName}!

        h2 Looping an object

        each type, typeName in contentData.exampleObject
            ul
                li= typeName
                ul
                    each product in type
                        li= product
