//- Globally expose mixins without output, needed for Bedrock to work
include /core/templates/mixins/icon
include /core/templates/mixins/render-page-tree
include /core/templates/mixins/sample
include /core/templates/mixins/styleguide-settings
//- Use this include to add your own mixins
include ../_mixins/all

block pageVariables
    //- Use this block to append page variables in templates
    //- @see https://bedrockapp.org/2021/06/22/setting-a-class-to-the-html-or-body-element/
    - var projectTitle = "Bedrock"
    - var htmlClass = ""
    - var bodyClass = ""

//- Use this block to customize the styleguide
//- @see https://bedrockapp.org/documentation/styling-the-style-guide/
block append styleguideSettings
    - var styleguideLogoAsImage = true
    - var styleguideLogoAsImagePath = "/images/bedrock-logo-black.svg"

doctype html
html(dir="ltr" lang="en" class=htmlClass ? htmlClass : '')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        if config.noIndex
            meta(name="robots" content="noindex")

        title
            if moduleTitle
                | #{moduleTitle} - #{projectTitle}
            else
                | #{projectTitle}

        link(rel="stylesheet" href="/css/main.css")

        if ( config.styleguide || config.pageTree)
            link(rel="stylesheet" href="/css/prototype.css")
            link(rel="stylesheet" href="/css/prism-styleguide.css")

        if config.styleguide
            link(rel="stylesheet" href="/css/styleguide-customizations.css")

        block headerStyles
            //- Use this block to add scripts to the footer
            //- @see https://bedrockapp.org/2021/06/22/how-to-add-scripts-to-header-and-footer/

    body(class=bodyClass ? bodyClass : '')

        if config.pageTree && config.pageTree.layoutStyle == 'sidebar'
            .br-prototype-wrapper
                include /core/templates/includes/prototype-nav
                .br-prototype-content
                    block body
        else
            block body
            if config.pageTree && config.pageTree.layoutStyle == 'fixed'
                .br-pagetree-fixed-wrapper
                    include /core/templates/includes/prototype-nav

        = "\n"

        if ( config.styleguide || config.pageTree)
            script(src='/js/bundle-prototype.js')
        script(src='/js/bundle-client.js')

        block footerScripts
            //- Use this block to add scripts to the footer
            //- @see https://bedrockapp.org/2021/06/22/how-to-add-scripts-to-header-and-footer/
