//- Globally expose mixins without output, needed for prototypes
include ../../../core/templates/mixins/icon
include ../../../core/templates/mixins/render-page-tree
include ../../../core/templates/mixins/sample
include ../../../core/templates/mixins/styleguide-settings
include ../../../core/templates/mixins/languages

block pageVariables
    //- Use this block to append page variables in templates
    - var projectTitle = "Bedrock + Material Design"
    - var htmlClass = ""
    - var bodyClass = "mdc-typography"

block styleguideSettings
    //- Styleguide layout system
    //- Use your project's layout system for the style guide

    //- Styleguide classes - Buttons
    //- Style buttons like your project's buttons
    - var styleguideButtonClass = "mdc-button"

    //-
        Styleguide classes - Headings
        Style headings in styleguide like your project's headings
    - var styleguideBrandClass = "mdc-typography--headline5"
    - var styleguideComponentGroupHeaderClass = "mdc-typography--headline4"
    - var styleguideSampleHeadingClass = "mdc-typography--headline5"
    - var styleguideComponentListingCategoryClass = "mdc-typography--headline6"

    - var styleguideNavListTitleClass = "mdc-typography--subtitle2"
    - var styleguideNavListClass = "mdc-list mdc-list--dense"
    - var styleguideSampleClass = ""

    - var styleguideNavListItemClass = "mdc-list-item"
    - var styleguideNavListItemActiveClass = "mdc-list-item--selected"

    - var styleguideNavListItemLinkClass = "mdc-list-item__text"
    - var styleguideNavListItemLinkActiveClass = ""

    - var styleguideNavigationHolderClass = ""

doctype html
html(dir="ltr" lang="en" class=htmlClass ? htmlClass : '')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="robots", content="noindex")

        title
            if moduleTitle
                | #{moduleTitle} - #{projectTitle}
            else
                | #{projectTitle}

        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/prototype.css')
        link(rel='stylesheet', href='/css/styleguide.css')

    block style
        // For style blocks

    body(class=bodyClass ? bodyClass : '')

        block body

        include ../../../core/templates/includes/prototype-nav

        = "\n"
        script(src='/js/bundle.js')
        script(src="/resources/material-components-web.js")
        script.
            setTimeout(function(){ mdc.autoInit(); }, 200);

        block scripts
            // nothing
