//- Globally expose mixins without output, needed for prototypes
include ../../../core/templates/mixins/icon
include ../../../core/templates/mixins/render-page-tree
include ../../../core/templates/mixins/sample
include ../../../core/templates/mixins/styleguide-settings
include ../../../core/templates/mixins/languages

block pageVariables
    //- Use this block to append page variables in templates
    - var projectTitle = "Bedrock + Bootstrap 4"
    - var htmlClass = ""
    - var bodyClass = ""

    //- Styleguide classes - Buttons
    //- Style buttons like your project's buttons
    - var styleguideButtonClass = "btn btn-link btn-sm"

    //-
        Styleguide classes - Headings
        Style headings in styleguide like your project's headings
    - var styleguideBrandClass = "h4 m-0"
    - var styleguideComponentGroupHeaderClass = "h3"
    - var styleguideSampleHeadingClass = "h4"
    - var styleguideComponentListingCategoryClass = "h4"

    - var styleguideNavListTitleClass = "h6"
    - var styleguideNavListClass = "bd-toc mb-4"
    - var styleguideSampleClass = "mb-4 mt-4"

    - var styleguideSampleClass = ""

    - var styleguideNavListItemActiveClass = ""
    - var styleguideNavListItemClass = "bd-toc-item"

    - var styleguideNavListItemLinkClass = "bd-toc-link"
    - var styleguideNavListItemLinkActiveClass = "active"

    - var styleguideNavigationHolderClass = "mr-md-4"

doctype html
html(dir="ltr" lang="en" class=htmlClass ? htmlClass : '')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="robots", content="noindex")

        title
            if moduleTitle
                | #{moduleTitle} - #{projectTitle}
            else
                | #{projectTitle}

        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/prototype.css')
        link(rel='stylesheet', href='/css/styleguide.css')

        block headerScriptsStyles
            // Nothing yet

    body(class=bodyClass ? bodyClass : '')

        block body

        include ../../../core/templates/includes/prototype-nav

        = "\n"
        script(src='/js/bundle.js')

        block footerScriptsStyles
            // Nothing yet
